<div class="">
  <table>
    <tbody background="/images/fondo_compl_final.jpg">
      <tr width='227' height='340'>
        <td height='57'></td>
        <td>
          <table>
            <tr>
              <td width='94' height='122'></td>
            </tr>
            <tr>
              <td id='tec_origen'></td>
              <td id='nombre'></td>
              <td id='disciplina'></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr width='95'>
            </tr>
            <tr>
              <td id='no_ctrl'></td>
              <td id='sangre'></td>
              <td id='nss'></td>
              <td>alergias</td>
              <td>padecimientos</td>
            </tr>
          </table>
        </td>
        <td width='55'></td>
        <td>Deportista</td>
      </tr>
      <tr width='227' height='340'>
        <td height='110'></td>
        <td>qr</td>
      </tr>
    </tbody>
  </table>
</div>
