
<div>
  <center>
  <h1>Registro de Hotel</h1> 
   <hr>
   <br><br>
    <label>Hotel</label>
        <input type="text" id="nombre" 
                name="nombre" pattern="[A-Za-z ]*" 
                size="20" placeholder="Nombre del Hotel" 
                ng-model="hotel.nombre">
   
    <label>Teléfono</label> 
        <input type="text" id="telefono"  
                maxlength="13"  name="telefono" 
                pattern="[0-9]*" size="21" 
                placeholder="9511234567" 
                ng-model="hotel.telefono">
   <br><br>
    <label>Correo</label> 
        <input type="text" id="correo" 
                name="correo" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" 
                size="20" placeholder="nombre123@gmail.com" 
                ng-model="hotel.correo">

    <label>Contacto</label> 
        <input type="text" id="contacto" name="contacto" 
                pattern="[A-Za-z ]*" size="21" placeholder="Nombre del Contacto" 
                ng-model="hotel.nombreEncargado">
   <br><br> 
    <h3>Ocupación</h3>
      <label>Sencilla</label>
        <input type="text" id="sencilla" size="3" 
                pattern="[0-9]{1,3}" value="0">

    <label>Doble</label>
        <input type="text" id="doble" size="3" 
                pattern="[0-9]{1,3}" value="0">

    <label>Triple</label>
        <input type="text" id="triple" size="3" 
                pattern="[0-9]{1,3}" value="0">

    <label>Cuadruplas</label>
        <input type="text" id="cuadruplas" size="3" 
                pattern="[0-9]{1,3}" value="0">

  <h3>Otra</h3>
    <label>Número de Personas</label>
        <input type="text" id="numPersonas" size="3" 
                pattern="[0-9]{1,3}" value="0">

    <label>Habitaciones Disponibles</label>
        <input type="text" id="numDisponible" size="3" 
                pattern="[0-9]{1,3}" value="0">
    <br><br>  
    
   <div id="otro" ></div> 
      <input type="submit" id="otro" value="Otro" onclick="otro()" class="btn btn-primary">
      <button type="button" class="btn btn-primary" ng-click="guardarHotel()">
        <i class="far fa-save" aria-hidden></i> Guardar
      </button>

      <input type="submit" id="registro" value="Registrar" onclick="" class="btn btn-primary" > 
      <a class="btn btn-primary" href="#/hoteles/asignacion">Siguiente</a>

  </center>
</div>